#contact-form {
    text-align: center;
    padding: 30px;
    background-color: white;
    width: 60%;
    margin: 0 auto;
}
  
#subscribe-text {
    font-size: 16px;
    margin-bottom: 20px;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
label {
    margin-bottom: 8px;
}
  
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
}
  
button {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}